XML Proveidors/proveidors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="proveidors" type="tipusproveidors"/>

  <xs:complexType name="tipusproveidors">
    <xs:sequence>
      <xs:element name="proveidor" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="tipusprov">
    <xs:sequence>
      <xs:element name="codi" type="tipuscodi"/>
      <xs:element name="nom" type="xs:string"/>
      <xs:element name="adreça" type="xs:string"/>
      <xs:element name="poblacio" type="xs:string"/>
      <xs:element name="cp" type="tipuscodipostal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="tipuscodipostal">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipuscodi">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  

</xs:schema>
